@font-face {
    font-family:Imported ;
    src: url(/src/font/galanogrotesque-regular.otf);
}

.main-card {
    z-index: 10;
    margin-top: -200px !important;
    background-color: #FFFFFF!important;
    
}

.px-5{
    padding: 50px 100px 50px 100px !important;
}

.texts{
    font-family: Imported;
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    line-height: 28px;
}
.bg-main {
  background-color: #FFFFFF;
  ;
}

.background{
    background-color: #F2F2F2;
}
.mb-5{
 padding-bottom: 80px;
}

@media only screen and (max-width: 480px) {
    img {
      width: 100%;
    }
  }
