:root {
  --mainDark: #1A181E;
  --mainGrey: rgba(109,109,109);
  --mainLightGrey:rgba(172,172,172);
  --mainWhite:#fff;
  --mainBlue: #007bff;
}

.footer-bottom {
  padding-top : 3rem;
  padding-bottom : 2rem;
}


.btn-primary{
  background-color:#146EB4 !important;
  ;
}


